API_URL=http://localhost:300
BETTER_AUTH_SECRET=arandomsecret
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=postgresql://admin:password@localhost:5432/rover
GITHUB_CLIENTID=clientid
GITHUB_CLIENT_SECRET=clientsecret
GITHUB_APP_ID=app id
GITHUB_APP_SLUG=slug
GITHUB_APP_PRIVATE_KEY=-----BEGIN RSA PRIVATE 
BETTER_AUTH_SECRET=heheh